@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .optInput {
    @apply text-19 sm:text-23 block w-8 sm:w-12 px-2 sm:px-4 py-1 border-primaryBlack border-2 outline-none focus:border-primaryRed rounded-md;
  }
  .remove-arrow {
    @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }
}
.noto-sans-400> {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.noto-sans-700> {
    font-family: "Noto Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #f5f4f8 !important;
  }
  .input-error {
    border-color: red;
  }
  
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    padding: 0px 10px;
}
select option[value=""] {
  color: gray;
}
select option:not([value=""]) {
  color: black;
}

.fileUploader {
  border: 2px dashed #ccc !important;
  height: 150px !important;
  width: 100% !important;
  font-size: 18px !important;
  max-width: none !important;
  min-width: auto !important;
}

.fileUploader svg {
  display: none !important;
}
.pdfuploader{
  width: 100% !important;
  height: 150px !important;
  border: 2px dashed #ccc !important;
  max-width: none !important;
  min-width: auto !important;
}
.pdfuploader svg {
  display: none !important;
}
.sc-fqkvVR {
  font-size: 16px !important;
  margin-left: 10px !important;
  text-align: center !important;
}
@media screen and (max-width: 480px) {
  .sc-fqkvVR {
    font-size: 13px !important;
    margin-left: 0px !important;
  }
  .fileUploader {
    width: 100% !important;
    min-width: auto !important;
  }
}

.sc-eqUAAy{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.file-types{
  display: none !important;
}

.quill{
  height: 135px !important;
}


/* DatePickerStyles.css */
.custom-datepicker {
  border: 2px solid #4CAF50;
  border-radius: 4px;
  padding: 10px;
}
.react-datepicker__view-calendar-icon input {
  padding: 4px 10px 5px 30px !important;
}
.custom-datepicker-wrapper {
  width: 100%;
}

.custom-datepicker-input {
  padding: 5px 10px ;
  width: 100% !important;
  border: 1px solid #DFDfDf95;
  border-radius: 1px;
}

.custom-calendar {
  border: 1px solid #4CAF50;
}

.custom-day {
  color: #4CAF50;
  font-weight: bold;
}

.custom-day:hover {
  background-color: #f0f0f0;
}

.custom-day--selected {
  background-color: #4CAF50;
  color: white;
}
