@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .optInput {
    @apply text-19 sm:text-23 block w-8 sm:w-12 px-2 sm:px-4 py-1 border-primaryBlack border-2 outline-none focus:border-primaryRed rounded-md;
  }
  .remove-arrow {
    @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }
}

/* nav dropdown */
/* styles/globals.css or styles/Navbar.module.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 6px;
  border: solid 1px #d4d4d4;
  list-style-type: none;
  padding: 0px;
  display: block;
  min-width: 200px;
}

.dropdown-menu div {
  color: black;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 8px;
}

.dropdown-menu div a:hover {
  color: darkslategray;
}


/* calendar */
.e-appointment:hover {
  background: none !important;
  cursor: pointer !important;
}

.e-appointment:focus {
  background: none !important;
  background-color: none;
}

.noto-sans-400> {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.noto-sans-700> {
    font-family: "Noto Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #f5f4f8 !important;
    min-height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
  }
  
  footer {
    margin-top: auto !important;
  }
  
  .input-error {
    border-color: red;
  }
  
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    padding: 0px 10px;
}
select option[value=""] {
  color: gray;
}
select option:not([value=""]) {
  color: black;
}

.fileUploader {
  border: 2px dashed #ccc !important;
  height: 150px !important;
  width: 100% !important;
  font-size: 18px !important;
  max-width: none !important;
  min-width: auto !important;
}

.fileUploader svg {
  display: none !important;
}
.pdfuploader{
  width: 100% !important;
  height: 150px !important;
  border: 2px dashed #ccc !important;
  max-width: none !important;
  min-width: auto !important;
}
.pdfuploader svg {
  display: none !important;
}
.sc-fqkvVR {
  font-size: 16px !important;
  margin-left: 10px !important;
  text-align: center !important;
}
@media screen and (max-width: 480px) {
  .sc-fqkvVR {
    font-size: 13px !important;
    margin-left: 0px !important;
  }
  .fileUploader {
    width: 100% !important;
    min-width: auto !important;
  }
}

.sc-eqUAAy{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.file-types{
  display: none !important;
}

.quill{
  height: 135px !important;
}


/* DatePickerStyles.css */
.custom-datepicker {
  border: 2px solid #4CAF50;
  border-radius: 4px;
  padding: 10px;
}
.react-datepicker__view-calendar-icon input {
  padding: 4px 10px 5px 30px !important;
}
.custom-datepicker-wrapper {
  width: 100%;
}

.custom-datepicker-input {
  padding: 5px 10px ;
  width: 100% !important;
  border: 1px solid #DFDfDf95;
  border-radius: 1px;
}

.custom-calendar {
  border: 1px solid #4CAF50;
}

.custom-day {
  color: #4CAF50;
  font-weight: bold;
}

.custom-day:hover {
  background-color: #f0f0f0;
}

.custom-day--selected {
  background-color: #4CAF50;
  color: white;
}
/* calender */
.k-scheduler-timecolumn{
  min-width:147px !important;
  flex: none !important;
  /* width: 30% !important; */
}

/* mapbox close button */
.mapboxgl-popup-close-button{
  font-size: 27px !important;
  right: 8px !important;
  top: 8px !important;
}

/* pagination */
.pagination {
  list-style: none;
  height: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}

.active {
  background-color: #244161;
  border-radius: 50%;
  font-weight: 700;
  color: white;
}

.page-item {
  list-style: none;
  padding: 2px 12px;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-left: 3px ;
}


.ql-container {
  font-size: 18px !important;
}

.quill > * {
  border-color: inherit !important;
  color: inherit !important;
}
.quill > .ql-toolbar {
  /* border radius of the toolbar */
  border-radius: 10px 10px 0 0;
}
.quill > .ql-container {
  /* border radius of the container and for font size*/
  font-size: inherit;
  border-radius: 0 0 10px 10px;
}
.ql-toolbar.ql-snow .ql-picker-label {
  color: inherit !important;
  opacity: 0.76;
}
.ql-snow .ql-picker {
  color: inherit !important;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  /* for placeholder */
  color: inherit;
}
.ql-snow.ql-toolbar button svg {
  opacity: 0.76;
  color: currentColor;
}
.ql-snow .ql-stroke {
  /* for the border of the editor */
  stroke: currentColor !important;
}
.ql-snow .ql-fill {
  /* for the bg color */
  fill: currentColor !important;
}
.ql-picker-item {
  /* for dropdown */
  color: #444 !important;
}